.headerContainer {
  display: inline-block;
  text-align: left;
  min-width: 320px;
  width: 90%;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
}

.headerText {
  color: white;
  width: 100%;
  max-width: 970px;
  padding-left: 7px;
}

.headerName {
  color: white;
  font-size: 90px;
}

.headerDesc {
  color: #77abb7;
  font-size: 90px;
  padding-left: 3px;
}

@media screen and (max-width: 1100px) {
  .headerDesc {
    font-size: 60px;
    padding-left: 1px;
  }

  .headerText {
    padding-left: 2px;
    max-width: 640px;
  }
}

@media screen and (max-width: 750px) {
  .headerDesc {
    font-size: 43px;
  }

  .headerText {
    max-width: 460px;
  }
}

@media screen and (max-width: 600px) {
  .headerDesc {
    font-size: 27px;
  }

  .headerText {
    max-width: 310px;
  }
}
