.projectContainer{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

@media screen and (max-width: 600px) {
    .projectContainer{
        justify-content: center;
    }
  }

